*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Futura;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    /* background-color: cornflowerblue; */
}

nav{
    height: 15%;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#logo{
    height: 100%;
    width: 9%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#logo i{
    font-size: 80px;
}

#menu{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#menu h4{
    padding: 40px;
}

#socials{
    height: 100%;
    width: 21%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#socials i{
    font-size: 25px;
}

#info{
    height: 85%;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#left{
    width: 30%;
    height: 80%;
}

h1{
    color: #fff;
}



